*.swp
build/

project/{art,baby,blog,cooking,crafting,dog,house,personal,social,travel,work}/index.html
project/{art,baby,blog,cooking,crafting,dog,house,personal,social,travel,work}/{ongoing,archived}_project/index.html
