h1 {
	font-family: "DarlingCoffee";
	font-size: 45pt;
	text-align: center;
	padding-bottom: 0;
}

h2 {
	font-family: "Mabook";
	font-size: 24pt;
	color: white;
	text-align: center;
	margin-top: 0;
	padding-top: .25em;
	padding-bottom: .25em;
	background-color: #CFAF91;
}

h3 {
	font-family: "Handwriting";
	font-size: 32pt;
	text-align: center;
	margin-top: .5em;
	padding-top: 0;
	
}

ul {
	padding-left: 0;
	list-style: none;
	width: 50%;
	margin: 0 auto;
}

li {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 1em;
	a {
		text-decoration: none;
		color: black;
	}
	img {
		display: none;
	}
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40pt;
		font-family: "Handwriting";
	}
}



