h1 {
	font-family: "DarlingCoffee";
	font-size: 45pt;
	text-align: center;
	margin-bottom: 1em;
	padding-bottom: 0;
}

h2 {
	font-family: "Mabook";
	font-size: 32pt;
	color: white;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
	background-color: #CFAF91;
}

h3 {
	font-family: "Handwriting";
	font-size: 32pt;
	text-align: center;
	margin-top: .5em;
	padding-top: 0;
	
}

ul {
	padding-left: 0;
	list-style: none;
	width: 50%;
	margin: 0 auto;
}

li {
	width: 6em;
	margin: 0 auto;
	padding: 1em;
	margin-bottom:1em;
	border-style: solid;
	border-width: 2px;
	background-color: var(--ly_background);
	a {
		text-decoration: none;
		color: black;
	}
	img {
		display: none;
	}
	span {
		display: flex;
		font-size: 12pt;
		font-weight: bold;
		text-align: center;
	}
}



