h1 {
	font-family: "DarlingCoffee";
	font-size: 32pt;
	text-align: center;
	margin: auto 0;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-style: none none solid none;
	border-width: 2px;
}

#project_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	a {
		width: 25%;
		padding: 1em;
		img {
			width: 100%;
		}
	}
}
