body {
	margin: 0;
	margin-top:3em;
}

h1 {
 font-family: "Handwriting";
	font-size: 60pt;
	text-align: center;
	margin: auto 0;
	padding-bottom: 0;
}

h2 {
	text-align: center;
	font-family: "Mabook";
	font-size: 28pt;
	margin-bottom: 2%;
}

p {
	text-indent: 2em;
	font-size: 14pt;
}

hr {
	border: 1px solid black;
}

#title {
	width: 100%;
	height: 10em;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	padding-bottom: 2%;
	border-style: none none solid none;
	border-width: 2px;
	.title_bumpers {
		width: 25%;
		img {
			display: block;
			height: 100%;
			aspect-ratio: 1 / 1;
			margin-left: auto;
			margin-right: auto;
		}
	}
	h1 {
		width: 75%;
	}
}

#project {
	display: flex;
	padding-bottom: 6em;

	#side_bar {
		width: 25%;
		border-style: none solid none none;

		#about {
			width: 75%%;
			padding-bottom: 1em;
			padding-left:10%;
			padding-right:10%;
		}

		#project_steps {
			width: 75%%;
			padding-bottom: 1em;
			padding-left:10%;
			padding-right:10%;
			ul {
				padding: 0;
				margin-left: 2em;
				.selectable_li {
					display: flex;
					input {
						height: 1em;
						width: 1em;
						width: 20%;
					}
					span {
						width: 80%;
					}
				}
			}
		}

		#support {
			width: 75%%;
			p {
				margin-bottom: 0em;
				padding-left:10%;
				padding-right:10%;
			}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 80%;
			}
		}
	}

	#project_journal {
		width: 75%;
		border-width: 2px;
		padding-left: 1em;

		p {
		}
		img {
			width: 100%;
		}
	}

}
