h1 {
	font-size: 32pt;
	text-align: center;
	margin: auto 0;
	padding-bottom: 0;
}

h2 {
	font-size: 28pt;
	margin-bottom: 2%;
}

p {
	text-indent: 2em;
	font-size: 14pt;
}

#title {
	width: 100%;
	height: 10em;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	padding-bottom: 2%;
	border-style: none none solid none;
	border-width: 2px;
	.title_bumpers {
		width: 20%;
	}
	img {
		width: 100%;
	}
	h1 {
		width: 55%;
	}
}

#project {
	display: flex;
}

#about {
	width: 30%;
	padding-right: 1em;
}

#project_journal {
	width: 50%;
	border-style: none solid none solid;
	border-width: 2px;
	padding-right: 1em;
	padding-left: 1em;

	p {
	}
	h2 {
		text-align: center;
	}
	img {
		width: 100%;
	}
}

#project_steps {
	width: 20%;
	h2 {
		text-align: right;
	}
	ul {
		padding: 0;
		margin-left: 2em;
	}
}
