@font-face {
	font-family: "8BitOperator";
	src: url("/common/fonts/8_bit_operator/8bitOperatorPlus-Regular.ttf");
}

@font-face {
	font-family: "8BitOperator";
	src: url("/common/fonts/8_bit_operator/8bitOperatorPlus-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "8BitOperatorPlus";
	src: url("/common/fonts/8_bit_operator/8bitOperatorPlus8-Regular.ttf");
}

@font-face {
	font-family: "8BitOperatorPlus";
	src: url("/common/fonts/8_bit_operator/8bitOperatorPlus8-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "8BitOperatorPlusSC";
	src: url("/common/fonts/8_bit_operator/8bitOperatorPlusSC-Regular.ttf");
}

@font-face {
	font-family: "8BitOperatorPlusSC";
	src: url("/common/fonts/8_bit_operator/8bitOperatorPlusSC-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "DarlingCoffee";
	src: url("/common/fonts/DarlingCoffee.otf");
}

@font-face {
	font-family: "Handwriting";
	src: url("/common/fonts/Handwriting-Regular.otf");
}

@font-face {
	font-family: "Mabook";
	src: url("/common/fonts/Mabook.otf");
}
